.App {
  max-width: 600px;
  margin: 30px auto
}

/*
@keyframes icons {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.icons {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0d2237;
  display: flex;
  justify-content: space-evenly;
}
.icons h1 {
  font-size:36px;
  color:  #ff8e25;
  font-family: monospace;
}
