.icons {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0d2237;
  display: flex;
  justify-content: space-evenly;
}
.icons h1 {
  font-size:36px;
  color:  #ff8e25;
  font-family: monospace;
}
